.Header_Body{
    background-color: rgb(199, 11, 11);
    height: 15vh;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
}

.Header_Title{
    color:rgb(250, 250, 250);
    font-size: 10vh;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: inherit;
    line-height: 1;

}